.wrapp {
    max-width: 1280px;
    padding: 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f0ea;

    @media screen and (max-width:700px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width:500px) {
        position: relative;
    }

    .for__you {
        display: flex;
        column-gap: 60px;

        @media screen and (max-width:800px) {
            column-gap: 35px;
        }

        @media screen and (max-width:500px) {
            flex-direction: column;
            position: absolute;
            top: -450px;
            left: 50px;
            color: white;
        }


        h1 {
            font-size: 24px;
            font-weight: 700;

            @media screen and (max-width:570px) {
                font-size: 21px;
            }
        }

        h4 {
            font-size: 12px;
            font-weight: 700;
            color: #818181;

            @media screen and (max-width:500px) {
                color: white;
            }
        }
    }

    .more {
        font-size: 18px;
        border-bottom: solid 1px;
    }
}