.header {
    background: url('./../../assets/theaterBg.jpg') no-repeat;

    .title {
        font-size: 68px;
        margin: 0;
        padding-top: 307px;
        padding-left: 50px;
        padding-bottom: 40px;
        color: white;

        @media screen and (max-width: 715px) {
            font-size: 56px;
        }

        @media screen and (max-width: 570px) {
            font-size: 53px;
        }

        @media screen and (max-width: 500px) {
            font-size: 48px;
        }
    }
}