.wrapp {
    max-width: 1280px;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    background-color: #e9f0ea;

    @media screen and (max-width: 700px) {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        column-gap: 50px;
        list-style: none;

        @media screen and (max-width: 700px) {
            display: none;
        }

        .link {
            font-size: 14px;
            color: black;
            text-decoration: none;
        }

        .active {
            height: 30px;
            position: relative;
            color: red;
            text-decoration: none;
        }
        
        .active::before {
            content: "";
            width: 100%;
            height: 3px;
        
            position: absolute;
            right: 0;
            bottom: -5px;
        
            background-color: red;
        }
    }

    .nav {
        display: none;

        @media screen and (max-width: 700px) {
            display: block;
        }
    }
}