.wrapp {
    max-width: 1280px;
    padding: 0px 50px;
    background-color: #e9f0ea;

    .main {
        padding: 50px 0px 40px 0px;
        margin: 0;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
    }

    .afisha {
        display: flex;
        justify-content: space-around;
        column-gap: 20px;
        padding-bottom: 50px;

        @media screen and (max-width: 950px) {
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }
}